body {
  background-color: #f9fafb;
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

.logo-text {
  font-size: 6rem;
  font-family: Dancing Script;
  color: #f0f0f0;
}

.content {
  display: flex;
  flex-flow: row nowrap;
}

.background-img {
  background-image: url(images/background.jpg);
  background-size: cover;
  background-position: left;
  display: flex;
  flex-flow: column nowrap;
}

.logo-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 200px 0;
}

.logo-credits {
  display: flex;
  justify-content: center;
  align-items: end;
  color: #fffefe;
  font-size: 1rem;
}

.logo-credits a {
  color: #fffefe;
  text-decoration: underline;
}

.logo-container > * {
  box-sizing: border-box;
}

.logo-container > p {
  margin: 0;
  padding-right: 40px;
}

.logo-container > img {
  margin: 6px 0;
  padding-left: 40px;
}


.form-container{
    display: flex;
    flex-flow: column wrap;
}

label {
    text-transform: uppercase;
}

.header-text{
    font-weight: bold;
    width: clamp(150px, 60%, 650px);
    padding: 0 10px 0 50px;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  width: 200px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.name-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.row-entries {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 0.75rem;
  font-weight: bold;
  color: rgb(48, 48, 48);
  margin: 10px 0px;
}

.label-input-column{
  display: flex;
  flex-flow: column wrap;
}


.form-container > p:first-child{
  margin-top: 50px;
}

.form-container > p:last-child{
  margin-bottom: 50px;
}

fieldset{
  border: 0;
}

legend{
  font-size: 1.25rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}

form{
  padding: 50px 200px 20px 30px;
  background-color: #ffffff;
  box-shadow: 1px 1.5px rgba(0, 0, 0, 0.2)
}