body {
  background-color: #f9fafb;
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

.logo-text {
  font-size: 6rem;
  font-family: Dancing Script;
  color: #f0f0f0;
}

.content {
  display: flex;
  flex-flow: row nowrap;
}

.background-img {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  display: flex;
  flex-flow: column nowrap;
  width: 50vw;
  /* height: 100%; */
}

.logo-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 200px 0;
}

.logo-credits {
  display: flex;
  justify-content: center;
  align-items: end;
  color: #fffefe;
  font-size: 1rem;
}

.logo-credits a {
  color: #fffefe;
  text-decoration: underline;
}

.logo-container > * {
  box-sizing: border-box;
}

.logo-container > p {
  margin: 0;
  padding-right: 40px;
}

.logo-container > img {
  margin: 6px 0;
  padding-left: 40px;
}


.form-container{
    display: flex;
    flex-flow: column wrap;
}

label {
    text-transform: uppercase;
}

.header-text{
    font-weight: bold;
    width: clamp(150px, 60%, 650px);
    padding: 0 10px 0 10px;
    margin: 10px;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  width: 200px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input{
  border-color: #E5E7EB;
  border-radius: 5px;
  background-color: #fffefe;
  padding: 0.25rem; 
  margin: 5px 0;
}

button[type="submit"]{
  background-color: #507274;
  color: #ffffff;
  padding: 0.5rem;
  margin: 20px 20px;
  border-radius: 5px;
  border: 1px solid #507274;
}

.name-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.row-entries {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: 0.75rem;
  font-weight: bold;
  color: rgb(48, 48, 48);
  margin: 10px 0px;
}

.label-input-column{
  display: flex;
  flex-flow: column wrap;
  margin: 1px;
}

fieldset{
  border: 0;
  margin: 10px max(50px, 20vw) 0 20px;

}

legend{
  font-size: 1.25rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}

.footer-text{
  margin: 10px 20px;
  font-size: .9rem;
}

.footer-text a{
  color: #507274;
  text-decoration: underline;
}

.fieldset-wrapper{
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 1px 1.5px rgba(0, 0, 0, 0.2);
  border: 0;
  width: 100%;
}

#paragraph-first{
  margin-top: 50px;
}

#paragraph-last{
  margin-bottom: 40px;
}

input:focus{
  border: 2px solid #507274;
  box-shadow: 1px 1.5px rgba(0, 0, 0, 0.2);
  outline:none 
}

input[type="password"]:valid{
  border: 2px solid green;
  outline: none;
}

input[type="password"]:invalid{
  border: 2px solid red;
  outline: none;
}

form > button:hover{
  cursor: pointer;
  border: 1px solid black;
}

/*  TODO:
  - Check focus effects for input fields
  - Add error messages for invalid input
      -using js check for invalid input
  - Add success message for valid input
  */ 